

.toast {  
    font-family: $font-family-nunito-sans; 
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    padding-top: 65px !important;
}

.feather {
    margin-top: -3px;
}

.navbar-nav .feather {
    margin-top: 0;
}

.form-label {
    margin: 0.5rem 0 0.2rem 0;
}

.form-control {
    border-radius: .5rem;
    border: 1px solid $disabled-border;
}

.form-control:disabled {
    background-color: $disabled-bg;
}

.form-control:focus {
    border: 1px solid $focus-border;
}

.form-select {
    border-radius: .5rem !important;
    border: 1px solid $disabled-border !important;
}

.btn {
    border-radius: 0.5rem;
}

.btn:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(0 77 163 / 41%);
}

.custom-table-style {

    .table-responsive table th,
    .table-responsive table tr,
    .table-responsive table td {
        border: 0 !important;
    }

    .table-responsive table tr,
    .table-responsive table td {
        border-top: 1px solid $disabled-border !important;
        height: 2.5rem;
    }

    .table-responsive .mat-mdc-table {
        overflow: hidden !important;
        border-collapse: separate !important;
        border-spacing: 0 !important;
        background-color: $disabled-bg !important;
        border: 1px solid $disabled-border !important;
        border-top-left-radius: 0.7rem !important;
        border-top-right-radius: 0.7rem !important;
        //border-style: hidden !important;
    }

    .table-responsive .mat-mdc-header-row,
    .table-responsive .mat-mdc-row {
        font-family: $font-family-nunito-sans !important;
    }

    .table-responsive .mat-mdc-header-row {
        font-weight: bold;
    }

    .table-responsive .mat-mdc-row {
        background-color: white !important;
    }
}

.pagination {
    font-size: 14px !important;
    background-color: white !important;
    border: 1px solid $disabled-border !important;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;

    .mat-mdc-paginator,
    .mat-mdc-form-field {
        font-family: $font-family-nunito-sans !important;
    }

    .mdc-text-field {
        border: 0 !important;
        padding: 0;
        margin: 0;
        height: 2rem;
        width: 4rem;
    }

    .mat-mdc-form-field-flex {
        height: 2rem;
    }

    .mat-mdc-form-field-infix {
        padding: 3px 10px !important;
    }

    .mat-mdc-select {
        font-size: 14px !important;
    }
}


@media only screen and (max-width: 770px) {
    .mat-mdc-paginator-page-size-label {
        display: none;
    }
}

.mdc-checkbox__background {
    border: 2px solid $primary !important;
}

.readonly {
    background-color: $disabled-bg !important;
    cursor: default !important;
}

.disabled .mdc-checkbox__background {
    background-color: $disabled-bg !important;
    border: 1px solid $disabled-border !important;
}

select.disabled {
    background-color: $disabled-bg !important;
    border: 1px solid $disabled-border !important; 
}

a.disabled,
select.disabled,
.checkbox.disabled,
.mat-mdc-checkbox.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: $disabled-text;
}

// This style is to make page full size in view evaluation page
.main-wrapper {
    .page-wrapper.fullview {
        margin-left: 0 !important;
        width: 100% !important;

        .page-content.fullview {
        margin-top: 0 !important;
        }
    }
}
  