
.sidebar .sidebar-body .sidebar-nav .nav-item {
    position: relative;
    padding: 5px 0 !important;
}

.sidebar .sidebar-body .sidebar-nav .nav-item > .nav-link{
    margin: 10px 15px 0;
    //color: #3c4858;
    color: $gray-800;
    text-transform: capitalize;
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 10rem;
}

.sidebar .sidebar-body .sidebar-nav .nav-item.mm-active > .nav-link, .sidebar .sidebar-body .sidebar-nav .nav-item:hover .nav-link {
    background-color: $primary;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(0 77 163 / 41%);
    color: rgba(255, 255, 255);
    border-radius: 10rem;
}

.sidebar .sidebar-body .sidebar-nav .nav-item > .nav-link{
    height: unset !important    ;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    padding-top: 65px !important;
}

.feather {
    margin-top: -3px;
}

.form-label {
    margin: 0.5rem 0 0.2rem 0;
}
.form-control { 
    border-radius: .5rem;
    border: 1px solid #c7c7c7 !important;
}
.form-control:focus { 
    border: 1px solid #969696 !important;
}
.form-select {
    border-radius: .5rem !important;
    border: 1px solid #c7c7c7 !important;
}
.btn {
    border-radius: 1rem;
}
.btn:hover {
    //border: 1px solid #dddddd !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(0 77 163 / 41%);
}


table th, table tr, table td {
    border: 0 !important;
}
table tr, table td {
    border-top: 1px solid #c7c7c7 !important;
}
.table-responsive .mat-mdc-table {    
    overflow:hidden !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
    background-color: #f2f2f2 !important;
    border: 1px solid #c7c7c7 !important;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;    
    //border-style: hidden !important;
}
.table-responsive .mat-mdc-header-row, .table-responsive .mat-mdc-row {
    font-family: $font-family-nunito-sans !important;
}
.table-responsive .mat-mdc-header-row {
    font-weight: bold;
}
.table-responsive .mat-mdc-row {    
    background-color: #ffffff !important;
}


.pagination .mat-mdc-paginator {
    font-family: $font-family-nunito-sans !important;
}
.pagination {
    font-size: 14px !important;
    background-color: #ffffff !important;
    border:1px solid #c7c7c7 !important;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.pagination .mdc-text-field {
    border: 0 !important;
    padding: 0;
    margin: 0;
    height: 2rem;
    width: 4rem;
}
.pagination .mat-mdc-form-field-flex {
    height: 2rem;
}
.pagination .mat-mdc-form-field-infix {
    padding: 3px 10px !important;
}
.pagination .mat-mdc-select {
    font-size: 14px !important;
}

.mdc-checkbox__background {
    border: 2px solid $primary !important;
}

.disabled .mdc-checkbox__background {
    background-color: #808080 !important;
    border: 1px solid #949494 !important;
}
