.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    padding-top: 65px !important;
}

.feather {
    margin-top: -3px;
}

.form-label {
    margin: 0.5rem 0 0.2rem 0;
}

.form-control {
    border-radius: .5rem;
    border: 1px solid #c7c7c7;
}

.form-control:focus {
    border: 1px solid #969696;
}

.form-select {
    border-radius: .5rem !important;
    border: 1px solid #c7c7c7 !important;
}

.btn {
    border-radius: 0.5rem;
}

.btn:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(0 77 163 / 41%);
}

.custom-table-style {

    .table-responsive table th,
    .table-responsive table tr,
    .table-responsive table td {
        border: 0 !important;
    }

    .table-responsive table tr,
    .table-responsive table td {
        border-top: 1px solid #c7c7c7 !important;
    }

    .table-responsive .mat-mdc-table {
        overflow: hidden !important;
        border-collapse: separate !important;
        border-spacing: 0 !important;
        background-color: #f2f2f2 !important;
        border: 1px solid #c7c7c7 !important;
        border-top-left-radius: 0.7rem !important;
        border-top-right-radius: 0.7rem !important;
        //border-style: hidden !important;
    }

    .table-responsive .mat-mdc-header-row,
    .table-responsive .mat-mdc-row {
        font-family: $font-family-nunito-sans !important;
    }

    .table-responsive .mat-mdc-header-row {
        font-weight: bold;
    }

    .table-responsive .mat-mdc-row {
        background-color: #ffffff !important;
    }
}




.pagination {
    font-size: 14px !important;
    background-color: #ffffff !important;
    border: 1px solid #c7c7c7 !important;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;

    .mat-mdc-paginator,
    .mat-mdc-form-field {
        font-family: $font-family-nunito-sans !important;
    }

    .mdc-text-field {
        border: 0 !important;
        padding: 0;
        margin: 0;
        height: 2rem;
        width: 4rem;
    }

    .mat-mdc-form-field-flex {
        height: 2rem;
    }

    .mat-mdc-form-field-infix {
        padding: 3px 10px !important;
    }

    .mat-mdc-select {
        font-size: 14px !important;
    }
}


@media only screen and (max-width: 770px) {
    .mat-mdc-paginator-page-size-label {
        display: none;
    }
}

.mdc-checkbox__background {
    border: 2px solid $primary !important;
}

.disabled .mdc-checkbox__background {
    background-color: #808080 !important;
    border: 1px solid #949494 !important;
}