.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    padding-top: 65px !important;
}


.sidebar .sidebar-body .sidebar-nav .nav-item {
    position: relative;
    padding: 5px 0 !important;
}
.sidebar .sidebar-body .sidebar-nav .nav-item > .nav-link{
    margin: 10px 15px 0;
    border-radius: 3px;
    color: #3c4858;
    text-transform: capitalize;
    font-size: 13px;
    padding: 10px 15px;
}
.sidebar .sidebar-body .sidebar-nav .nav-item.mm-active > .nav-link, .sidebar .sidebar-body .sidebar-nav .nav-item:hover .nav-link {
    background-color: $primary;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(0 77 163 / 41%);
    color: #fff;
}

.sidebar .sidebar-body .sidebar-nav .nav-item > .nav-link{
    height: unset !important    ;
}
