<div class="main-wrapper">

  <!-- partial:sidebar -->
  <app-sidebar *ngIf="!isMinimalRoute()" />
  <!-- partial -->

  <div class="page-wrapper" [ngClass]="(isMinimalRoute()) ? 'fullview' : ''">

    <!-- partial:navbar -->
    <app-navbar *ngIf="!isMinimalRoute()"></app-navbar>
    <!-- partial -->

    <div class="page-content container-fluid" [ngClass]="(isMinimalRoute()) ? 'fullview' : ''">

      <!-- Spinner for lazyload modules -->
      @if (isLoading) {
      <div class="spinner-wrapper">
        <div class="spinner">Loading...</div>
      </div>
      } @else {
      <div>
        <router-outlet></router-outlet>
      </div>
      }


    </div>

    <!-- partial:footer -->
    <app-footer></app-footer>
    <!-- partial -->

  </div>


</div>