img {
    width: 13rem;
}

.sidebar {
    box-shadow: 5px 0px 20px -5px rgb(199, 199, 199) !important;
}

.sidebar .sidebar-header {
    height: 3.7rem;
}

.sidebar .sidebar-header .sidebar-brand {
    width: auto;
}