################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SKCE.Valuation.API/.vs/SKCE.Valuation.API
/SKCE.Valuation.API/SKCE.Valuation.API/bin/Debug/net8.0
/SKCE.Valuation.API/SKCE.Valuation.API/obj
/Database/SECE.Database/obj/Debug
