################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SKCE.Valuation.API/.vs/SKCE.Valuation.API
/SKCE.Valuation.API/SKCE.Valuation.API/bin/Debug/net8.0
/SKCE.Valuation.API/SKCE.Valuation.API/obj
/Database/SECE.Database/obj/Debug
*.wsuo
*.json
/Database/SECE.Database/bin/Debug/DeploymentReport.txt
/Database/SECE.Database/bin/Debug/DeploymentReport_1.txt
/Database/SECE.Database/bin/Debug/SECE.Database.dacpac
/Database/SECE.Database/bin/Debug/SECE.Database.dll
/Database/SECE.Database/bin/Debug/SECE.Database.pdb
/Database/SECE.Database/bin/Debug/SKCE.Database.dacpac
/Database/SECE.Database/bin/Debug/SKCE.Database.publish.sql
/Database/SECE.Database/bin/Debug/SKCE.Database_1.publish.sql
*.suo
*.dll
*.pdb
/SKCE.Valuation.API/Examination.Models/obj/Debug/net8.0
/SKCE.Valuation.API/Examination.Services/obj/Debug/net8.0
/SKCE.Valuation.API/Examination.Services/obj
/SKCE.Valuation.API/.vs/ProjectEvaluation/skce.valuation.api.metadata.v9.bin
/SKCE.Valuation.API/.vs/ProjectEvaluation/skce.valuation.api.projects.v9.bin
/SKCE.Valuation.API/.vs/ProjectEvaluation/skce.valuation.api.strings.v9.bin
/SKCE.Valuation.API/.vs/SKCE.Examination/CopilotIndices/17.13.431.34963
/SKCE.Valuation.API/.vs/SKCE.Examination/FileContentIndex
/SKCE.Valuation.API/.vs/ProjectEvaluation
*.v2
/SCET/.vscode
/SCET.zip
/SCET
/Database/SECE.Database/bin/Debug
/Database/SECE.Database/SKCE.Database.dbmdl
/Database/SECE.Database/SKCE.Database.jfm
/Database/SECE.Database/SKCE.Examination.Database.sqlproj.user
/Database/SECE.Database/SKCE.Examination.Database.dbmdl
/Database/SECE.Database/SKCE.Examination.Database.jfm
/ValuationClientApp/src/app/views/pages/apps/user/user.component.html.bak
/ValuationClientApp/src/app/views/pages/apps/user/user.component.ts.bak
/ValuationClientApp/src/app/views/pages/apps/apps.routes.ts.bak
/ValuationClientApp/src/app/views/pages/auth/register/register.component.html.bak
/ValuationClientApp/src/app/views/pages/auth/register/register.component.ts.bak
/ValuationClientApp/src/app/views/pages/dashboard/dashboard.component.html.bak
/ValuationClientApp/src/styles/components/_cards.scss.bak
/ValuationClientApp/src/styles/rtl-css/styles.rtl.css.bak
/UI
/SKCE.Valuation.API/Examination.Models/obj/Release/net8.0
/SKCE.Valuation.API/SKCE.Valuation.API/bin/Release/net8.0
/SKCE.Valuation.API/SKCE.Valuation.API/Properties/PublishProfiles
/SKCE.Valuation.API/SKCE.Valuation.API/SKCE.Examination.API.csproj.user

/.vs/Online-Valuation-Application/config
/.vs/Online-Valuation-Application/v17
/.vs
/SKCE.Valuation.API/Examination.Models/obj/project.nuget.cache
/SKCE.Valuation.API/.vs/SKCE.Examination/copilot-chat/6f55d49d/sessions/26628185-fab9-4bb7-9782-5e10c1435d2c
/SKCE.Valuation.API/Examination.Services/bin/Release/net8.0/SyllabusDocumentTemplate/Syllabus_sample template.doc
/SKCE.Valuation.API/Examination.Services/bin/Debug/net8.0/SyllabusDocumentTemplate/PG_Syllabustemplate.docx
/SKCE.Valuation.API/Examination.Services/bin/Debug/net8.0/SyllabusDocumentTemplate/Syllabus_sample template.doc
/SKCE.Valuation.API/Examination.Services/bin/Debug/net8.0/SyllabusDocumentTemplate/UG_Syllabustemplate.docx
/AnswersheetUploadService/.vs
/AnswersheetUploadService/obj
/AnswersheetUploadService/Properties/PublishProfiles
