################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SKCE.Valuation.API/.vs/SKCE.Valuation.API
/SKCE.Valuation.API/SKCE.Valuation.API/bin/Debug/net8.0
/SKCE.Valuation.API/SKCE.Valuation.API/obj
/Database/SECE.Database/obj/Debug
*.wsuo
*.json
/Database/SECE.Database/bin/Debug/DeploymentReport.txt
/Database/SECE.Database/bin/Debug/DeploymentReport_1.txt
/Database/SECE.Database/bin/Debug/SECE.Database.dacpac
/Database/SECE.Database/bin/Debug/SECE.Database.dll
/Database/SECE.Database/bin/Debug/SECE.Database.pdb
/Database/SECE.Database/bin/Debug/SKCE.Database.dacpac
/Database/SECE.Database/bin/Debug/SKCE.Database.publish.sql
/Database/SECE.Database/bin/Debug/SKCE.Database_1.publish.sql
*.suo
*.dll
*.pdb
/SKCE.Valuation.API/Examination.Models/obj/Debug/net8.0
/SKCE.Valuation.API/Examination.Services/obj/Debug/net8.0
/SKCE.Valuation.API/Examination.Services/obj
/Database/SECE.Database
