.hr {
    margin: 2rem 0;
}
.list-group-item:hover {
    background-color: #f8f9fa;
    //color: white !important;
}
.list-group-item.active {
    background-color: #2a9df4;
    border-color: #2a9df4;
    color: white !important;
    // background-color: #cfe2ff;
    // color: #052c65 !important;
}