<form [formGroup]="userForm">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-12">
        <label class="form-label">Name<span class="text-danger"> *</span></label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
        <small class="text-danger" *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
          Name is required.
        </small>
        <!-- <small class="text-danger"
            *ngIf="(userForm.controls.collegeName.dirty && userForm.controls.collegeName.touched) && userForm.controls.collegeName.hasError('pattern')">
            Numerics not allowed
        </small> -->
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label class="form-label">Email<span class="text-danger"> *</span></label>
        <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
        <small class="text-danger" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
          Enter a valid email.
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label class="form-label">Mobile Number<span class="text-danger"> *</span></label>
        <input type="number" class="form-control" formControlName="mobileNumber" placeholder="Enter mobile number">
        <small class="text-danger"
          *ngIf="userForm.get('mobileNumber')?.invalid && userForm.get('mobileNumber')?.touched">
          Enter a 10-digit mobile number.
        </small>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="userForm.invalid">
      <span *ngIf="!isSubmitting">Save</span>
      <span *ngIf="isSubmitting">Save</span>
    </button>
  </div>
</form>