:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-page .auth-side-wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.banner {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width:100%;
  height: 200px;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

img {
  width: 100px;
}