<div class="container-fluid">
  <h3>Export marks</h3>
  <div class="row mt-4">
    <div class="col-md-2">
      <select id="institutionId" class="form-select" (change)="onInstituteChange($event)">
        <option [value]="0">Institution</option>
        <option *ngFor="let inst of dataSourceInstitutes" [value]="inst.institutionId">
          {{ inst.name }}
        </option>
      </select>
    </div>
    <div class="col-md-1">
      <select id="examYearId" class="form-select" (change)="onExamYearChange($event)">
        <option [value]="0">Year</option>
        <option *ngFor="let item of dataSourceExamYears" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="col-md-1">
      <select id="examMonthId" class="form-select" (change)="onExamMonthChange($event)">
        <option [value]="0">Month</option>
        <option *ngFor="let item of dataSourceExamMonths" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="col-md-1">
      <select id="examTypeId" class="form-select" (change)="onExamTypeChange($event)">
        <option [value]="0">Type</option>
        <option *ngFor="let item of dataSourceExamTypes" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <select id="courseId" class="form-select" (change)="onCourseChange($event)">
        <option [value]="0">Select Course</option>
        <option *ngFor="let course of dataSourceCourses" [value]="course.courseId">
          {{ course.code }} - {{ course.name }} - ({{ course.count }})
        </option>
      </select>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary"
        [disabled]="(selectedInstituteId == 0 || selectedCourseId == 0 || selectedExamYear == '' || selectedExamMonth == '')"
        (click)="exportMarks()">Export Marks into Excel</button>
    </div>
  </div>
</div>