<div class="container">
    <div class="row mt-4">
      <div class="col-md-12">
        <form [formGroup]="masterForm" (ngSubmit)="submit()">
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="filename">Master Data <span class="text-danger"> *</span> </label>
                  <input class="form-control " value="f['file']" type="file" id="masterfile" formControlName="file" (change)="onFileChange($event)">
                  <div *ngIf="f['file'].touched && f['file'].invalid" class="alert alert-danger">
                    <div *ngIf="f['file'].errors && f['file'].errors['required']">
                    File is required.
                    </div>
                </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                <button type="submit" class="btn btn-primary" >
                  Import Data
                </button>
                </div>
              </div>
          </form>
      </div>
    </div>
</div>
