<div class="container">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-sm-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Edit User Profile</h6>
          <form>
            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control"
                    placeholder="Enter name" [(ngModel)]="this.userObj.name" name="name" disabled/>
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Email address </label>
                  <input type="email" class="form-control"
                    placeholder="Enter email" [(ngModel)]="this.userObj.email" name="email" disabled>
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Mobile number</label>
                  <input type="number" class="form-control" name="mobilenumber"
                    placeholder="Enter mobile number " [(ngModel)]="this.userObj.mobilenumber" >
                </div>
              </div><!-- Col -->
            </div><!-- Row -->
            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1" class="form-label">Qualification
                    </label>
                    <input type="text" class="form-control"
                    placeholder="Enter qualification ">
                  
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1"
                    class="form-label">Work Experience</label>
                    <input type="text" class="form-control"
                    placeholder="Enter work experience">
                  
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1"
                    class="form-label">Department</label>
                    <select class="form-select" id="exampleFormControlSelect1">
                      <option selected disabled>Select</option>
                      <option>Computer Science</option>
                      <option>Mechanical</option>
                      <option>Electrical</option>
                      <option>Civil</option>
                      <option>Electronics</option>
                    </select>
                  
                </div><!-- Col -->
                
              </div>
            </div>
            <div class="row"><!-- Row Start -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1"
                    class="form-label">Designation</label>
                    
                    <select class="form-select" id="exampleFormControlSelect1">
                      <option selected disabled>Select</option>
                      <option>Professor</option>
                      <option>Associate Professor</option>
                      <option>Assistant Professor</option>
                      </select> 
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1"
                    class="form-label">College Name</label>
                    <input type="text" class="form-control"
                    placeholder="Enter current college name">
                  </div>
              </div><!-- Col -->
              <!-- Col -->
            </div><!--Row end-->
            <div class="row"><!--Row start-->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1" class="form-label">Area of specialization
                    </label>
                    <input type="number" class="form-control"
                    placeholder="Enter area of specialization">
                  </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1"
                    class="form-label"></label>
                    <button class="btn btn-primary mt-4" alt="add" >+</button>
                  
                </div>
            </div>
            </div>  
            <div class="row"><!--Row start-->
              <div class="col-6">
                <div class="mb-3">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>
                      Area of specialization
                      </th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>AI</td>
                                     
                    </tr>
                    <tr>
                      <td>Data Science</td>
                                    
                    </tr>
                    </tbody>
                  </table>
                  </div>
              </div>
            </div>
            <div class="row"><!--Row start-->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1" class="form-label">Course
                    </label>
                    <input type="text" class="form-control"
                    placeholder="Enter course name">
                  </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1"
                    class="form-label">Course Experience</label>
                    <input type="number" class="form-control"
                    placeholder="Enter course experience">
                  
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                 <input type="checkbox" class="form-check-input"
                      id="authCheck">
                      <label class="form-check-label" for="authCheck">
                        Handled in last two semesters
                      </label>
                      <button class="btn btn-primary mt-2" alt="add" >+</button>
                    </div><!-- Col -->
                  
                </div>
            </div>
            <div class="row"><!--Row start-->
              <div class="col-6">
                <div class="mb-3">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>
                        Course
                      </th>
                      <th>
                        Course Experience
                      </th>
                      <th>
                        Handled in last two semesters
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>AI</td>
                      <td>4</td>
                      <td>Yes</td>                      
                    </tr>
                    <tr>
                      <td>Data Science</td>
                      <td>4</td>
                      <td>No</td>                      
                    </tr>
                    </tbody>
                  </table>
                  </div>
              </div>
            </div>
            
            <div class="row"><!-- Row Start -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1"
                    class="form-label">Bank Account Name</label>
                    
                    <input type="text" class="form-control"
                    placeholder="Enter bank account name">
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1"
                    class="form-label">Bank Account Number</label>
                    <input type="text" class="form-control"
                    placeholder="Enter account number">
                  </div>
              </div>
              </div>
              <div class="row"><!-- Row Start -->
                <div class="col-sm-4">
                  <div class="mb-3">
                    <label for="exampleFormControlSelect1"
                      class="form-label">Bank Branch Name</label>
                      
                      <input type="text" class="form-control"
                      placeholder="Enter branch name">
                  </div>
                </div><!-- Col -->
                <div class="col-sm-4">
                  <div class="mb-3">
                    <label for="exampleFormControlSelect1"
                      class="form-label">Bank IFSC Code</label>
                      <input type="text" class="form-control"
                      placeholder="Enter ifsc code">
                    </div>
                </div>
                </div>                
          </form>
          <button type="button" class="btn btn-primary submit">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>