<div class="container">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-sm-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">User creation</h6>
          <form>
            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control"
                    placeholder="Enter name">
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Email address </label>
                  <input type="email" class="form-control"
                    placeholder="Enter email">
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Mobile number</label>
                  <input type="number" class="form-control"
                    placeholder="Enter mobile number ">
                </div>
              </div><!-- Col -->
            </div><!-- Row -->
            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1" class="form-label">Roll
                    Number</label>
                  <select class="form-select" id="exampleFormControlSelect1">
                    <option selected disabled>Select</option>
                    <option>001</option>
                    <option>002</option>
                    <option>003</option>
                    <option>004</option>
                    <option>005</option>
                  </select>
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1"
                    class="form-label">Engineering Department</label>
                  <select class="form-select" id="exampleFormControlSelect1">
                    <option selected disabled>Select</option>
                    <option>Computer Science</option>
                    <option>Mechanical</option>
                    <option>Electrical</option>
                    <option>Civil</option>
                    <option>Electronics</option>
                  </select>
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1"
                    class="form-label">Select
                    Role</label>
                  <select class="form-select" id="exampleFormControlSelect1">
                    <option selected disabled>Select</option>
                    <option>Professor</option>
                    <option>Dean</option>
                    <option>Associate Professor</option>
                    <option>Assistant Professor</option>
                    <option>Lecturer</option>
                  </select>
                </div><!-- Col -->
              </div>
            </div>
          </form>
          <button type="button" class="btn btn-primary submit">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>