<div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <!-- Button trigger lg modal -->
        <button class="btn btn-primary me-1" (click)="openLgModal(lgModal)">{{ isEditMode ? 'Edit Template' : 'Create Template' }}</button>
       
      </div>
    
      <div class="row mt-5">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Templates</h4>
              <div class="table-responsive">
                <mat-form-field appearance="outline">
                  <mat-label>Search Template</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Search">
                </mat-form-field>
                 <!-- Table -->
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- <ng-container matColumnDef="qpTemplateId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Id </th>
                  <td mat-cell *matCellDef="let element">{{ element.qpTemplateId }} </td>
                </ng-container> -->
                <!-- Template Name Column -->
                <ng-container matColumnDef="qpTemplateName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Name </th>
                  <td mat-cell *matCellDef="let element"><a mat-button (click)="openLgModal(lgModal,element.qpTemplateId)" target="_blank">{{ element.qpTemplateName }} </a> </td>
                </ng-container>

                <!-- Course Code Column -->
                <ng-container matColumnDef="courseCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Code </th>
                  <td mat-cell *matCellDef="let element"> {{ element.courseCode }} </td>
                </ng-container>

                <!-- Course Name Number Column -->
                <ng-container matColumnDef="courseName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Name </th>
                  <td mat-cell *matCellDef="let element"> {{ element.courseName }} </td>
                </ng-container>

                <!-- Role ID Column -->
                <!-- <ng-container matColumnDef="roleId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Role ID </th>
                  <td mat-cell *matCellDef="let element"> {{ element.roleId || 'N/A' }} </td>
                </ng-container> -->
                <!-- qpTemplateStatusTypeName Column -->
                <ng-container matColumnDef="qpTemplateStatusTypeName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Status </th>
                  <td mat-cell *matCellDef="let element"> {{ element.qpTemplateStatusTypeName || 'N/A' }} </td>
                </ng-container>
      
            <!-- Table Header & Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
          </table>
        
            <!-- Pagination -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                <!-- <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Programme</th>
                      <th>Semester</th>
                      <th>Course Code</th>
                      <th>Course Title</th>
                      <th>Month</th>
                      <th>Year</th>
                      <th>QP Template</th>
                      <th>Answer QP</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="py-1">UG</td>
                      <td>Semester 1</td>
                      <td>CS</td>
                      <td>Course Title 1</td>
                      <td>June</td>
                      <td>2025</td>
                      <td>QP Template 1</td>
                      <td>Answer QP 1</td>
                    </tr>
                    <tr>
                      <td class="py-1">UG</td>
                      <td>Semester 2</td>
                      <td>ME</td>
                      <td>Course Title 2</td>
                      <td>December</td>
                      <td>2025</td>
                      <td>QP Template 2</td>
                      <td>Answer QP 2</td>
                    </tr>
                    <tr>
                      <td class="py-1">PG</td>
                      <td>Semester 3</td>
                      <td>EC</td>
                      <td>Course Title 3</td>
                      <td>May</td>
                      <td>2026</td>
                      <td>QP Template 3</td>
                      <td>Answer QP 3</td>
                    </tr>
                    <tr>
                      <td class="py-1">UG</td>
                      <td>Semester 4</td>
                      <td>EE</td>
                      <td>Course Title 4</td>
                      <td>November</td>
                      <td>2026</td>
                      <td>QP Template 4</td>
                      <td>Answer QP 4</td>
                    </tr>
                    <tr>
                      <td class="py-1">PG</td>
                      <td>Semester 5</td>
                      <td>CIVIL</td>
                      <td>Course Title 5</td>
                      <td>April</td>
                      <td>2027</td>
                      <td>QP Template 5</td>
                      <td>Answer QP 5</td>
                    </tr>
                    <tr>
                      <td class="py-1">UG</td>
                      <td>Semester 6</td>
                      <td>IT</td>
                      <td>Course Title 6</td>
                      <td>August</td>
                      <td>2027</td>
                      <td>QP Template 6</td>
                      <td>Answer QP 6</td>
                    </tr>
                    
                    
                  </tbody>
                </table> -->
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- Lg Modal -->
   <ng-template #lgModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Create Template</h5>
      <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formGroup">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="course"
                class="form-label">Course</label>
              <select class="form-select" id="course" (change)="onCourseChange($event)">
                <option selected disabled>Select Course</option>
                <option *ngFor="let course of courses" [value]="course.courseId">
                  {{ course.name }}
                </option>
              </select>
            </div>
          </div><!-- Col -->
          <div class="col-sm-6">
            <div class="mb-4">
              <label for="qpTemplateName"
                class="form-label">Template Name</label>
                <input type="text" class="form-control" formControlName="qpTemplateName">
            </div>
          </div><!-- Col -->
        
        </div><!-- Row -->

        <div class="row">
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="degreeTypeName"
                class="form-label">Degree Type</label>
                <input type="text" class="form-control" formControlName="degreeTypeName">
            </div>
          </div><!-- Col -->
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="regulationYear"
                class="form-label">Requlation Year</label>
                <input type="text" class="form-control" formControlName = "regulationYear" placeholder="Enter Regulation Year">
                 
            </div>
          </div><!-- Col -->
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="batchYear" class="form-label">Batch Year
              </label>
              <input type="text" class="form-control" formControlName = "batchYear" placeholder="Enter Batch Year">
            </div>
          </div><!-- Col -->
        </div><!-- Row -->
        
        <div class="row">
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="examYear"
                class="form-label">Exam Year</label>
                <input type="text" class="form-control" formControlName = "examYear"/>
            </div>
          </div><!-- Col -->
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="examMonth"
                class="form-label">Exam Month</label>
                <input type="text" class="form-control" formControlName = "examMonth"  placeholder="Enter Exam Month">
            </div>
          </div><!-- Col -->
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="examType" class="form-label">Exam Type
              </label>
              <input type="text" class="form-control" formControlName = "examType" placeholder="">
            </div>
          </div><!-- Col -->
        </div><!-- Row -->

        <div class="row">
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="semester"
                class="form-label">Semester</label>
                <input type="text" class="form-control" formControlName = "semester"/>
            </div>
          </div><!-- Col -->
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="studentCount"
                class="form-label">Students Count</label>
                <input type="text" class="form-control" formControlName = "studentCount">
            </div>
          </div><!-- Col -->          
        </div><!-- Row -->
        <div class="row">
          <div class="col-sm-6">
            <div class="mb-4">
              <label class="form-label" for="courseSyllabusDocument">Course Syllabus document </label>
              <div class="d-flex align-items-center"> 
              <input class="form-control" id="courseSyllabusDocument" formcontrolname="courseSyllabusDocument" type="file" (change)="onFileSelected($event,1)"
                [disabled]="isUploadedCourseSyllabus">
              <mat-icon *ngIf="uploadedFileNameCourseSyllabus" class="text-danger ms-2" style="cursor: pointer;"
                (click)="removeFile(1)">
                delete
              </mat-icon>
              </div>
            </div>
        
          </div>
          <div class="col-sm-6">
            <div class="mb-4">
              <label class="form-label" for="expertPreviewDocument">Expert preview document</label>
              <div class="d-flex align-items-center"> 
              <input class="form-control" id="expertPreviewDocument" formcontrolname="expertPreviewDocument" type="file"
              (change)="onFileSelected($event,2)"  [disabled]="isUploadedExpertPreview">
              <mat-icon *ngIf="uploadedFileNameExpertPreview" class="text-danger ms-2" style="cursor: pointer;"
                (click)="removeFile(2)">
                delete
              </mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label" for="expertQpGeneration">Expert QP generation</label>
              <div class="d-flex align-items-center"> 
              <input class="form-control" id="expertQpGeneration" formcontrolname="expertQpGeneration" type="file"
              (change)="onFileSelected($event,3)"  [disabled]="isUploadedExpertQP">
              <mat-icon *ngIf="uploadedFileNameExpertQP" class="text-danger ms-2" style="cursor: pointer;"
                (click)="removeFile(3)">
                delete
              </mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="institutionName"
                class="form-label">Institution Name</label>
                <input type="text" class="form-control" formControlName="institutionName" />
            </div>
          </div><!-- Col -->
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="studentCount"
                class="form-label">Students Count</label>
                <input type="text" class="form-control" formControlName="studentCount" placeholder="">
            </div>
          </div><!-- Col -->          
        </div><!-- Row -->
        <div class="row">
          <div class="div col-sm-6">
            <div class="div mb-4">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Department Name</th>
                    <th>Short Code</th>
                    <th>Student Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let department of institutions[0]?.departments">
                    <td>{{ department.departmentName }}</td>
                    <td>{{ department.departmentShortName }}</td>
                    <td>{{ department.studentCount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label" for="printPreviewQP">Print preview QP document</label>
              <div class="d-flex align-items-center"> 
              <input class="form-control" id="printPreviewQP" formcontrolname="printPreviewQP" type="file"
              (change)="onFileSelected($event,6)"  [disabled]="isUploadedPrintPreviewQPDocument">
              <mat-icon *ngIf="uploadedFileNamePrintPreviewQP" class="text-danger ms-2" style="cursor: pointer;"
                (click)="removeFile(6)">
                delete
              </mat-icon>
            </div>
          </div>
          </div>
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label" for="printPreviewQPAnswer">Print preview QP Answer document</label>
              <div class="d-flex align-items-center"> 
              <input class="form-control" id="printPreviewQPAnswer" formcontrolname="printPreviewQPAnswer" type="file"
              (change)="onFileSelected($event,7)"  [disabled]="isUploadedPrintPreviewQPAnswerDocument">
              <mat-icon *ngIf="uploadedFileNamePrintPreviewQPAnswer" class="text-danger ms-2" style="cursor: pointer;"
                (click)="removeFile(7)">
                delete
              </mat-icon>
              </div>
          </div>
        </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
      <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
    </div>
  </ng-template>
  
  