<nav class="navbar">
  <div class="navbar-content">

    <ul class="navbar-nav">
      <li class="nav-item nav-profile" ngbDropdown>
        <a class="nav-link w-30px h-30px ms-1 rounded-circle" ngbDropdownToggle id="profileDropdown">
          <img class="w-30px rounded-circle" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="profile">
        </a>
        <div ngbDropdownMenu class="px-0" aria-labelledby="profileDropdown">
          <ul class="list-unstyled p-1">
            <li>
              <button type="button" class="dropdown-item py-2 d-flex ms-0 btn btn-link float-end"  (click)="editProfile()">
                <i class="feather icon-edit me-2 icon-md"></i>
                <span>Edit Profile</span>
              </button>
            </li>
            <li>
              <a href="" (click)="onLogout($event)" class="dropdown-item py-2 d-flex ms-0">
                <i class="feather icon-log-out me-2 icon-md"></i>
                <span>Log Out</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
</nav>
