.back-btn {
    padding-top: 0.3rem;

    a {
        font-size: 1.2rem;
    }
    img {
        margin-top: -2px;
    }
}


table {
    border-color: #c7c7c7;
}
table thead td {
    padding: 0.5rem 0;
    background-color: #ffffff;
}
table td {
    padding: 0;    
    width: 3rem;
}
table tfoot td {
    padding: 0.5rem;
    background-color: #f2f2f2;
    border: 1px solid #c7c7c7;
    span {
        padding: 0;
        background-color: transparent;
    }
}
table td label {
    padding-top: 1.75rem;
}
table .btn {
    width: 100%;
    min-width: 3rem !important;
    height: 2.5rem;
    border-radius: 0;
    border: 0;
    background-color: #deecfb;
}
table .btn.active {
    background-color: #bedaf7;
    box-shadow: var(--bs-btn-active-shadow);
}
table .btn:hover {
    background-color: #bedaf7; 
}
table .form-control {
    width: 100%;
    height: 2.5rem;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #c7c7c7 !important;
}
table .form-control.active {
    //background-color: #e5f3fb;
    border: 3px solid #2a9df4 !important;
}
table .error {
    background-color: #ffdcda;
}
table .sub-total {
    padding: 0.5rem;
}

.left-arrow {
    border: 1px solid #004da3;
    background: url('../../../../../../images/arrow-left.svg') no-repeat;
    background-position: center;
    height: 35px;
}

.left-arrow:hover {
    background-color: #004da3 !important;
    background: url('../../../../../../images/arrow-left-light.svg') no-repeat;
    background-position: center;
    height: 35px;
}

.right-arrow {
    border: 1px solid #004da3;
    background: url('../../../../../../images/arrow-right.svg') no-repeat;
    background-position: center;
    height: 35px;
}

.right-arrow:hover {
    background-color: #004da3 !important;
    background: url('../../../../../../images/arrow-right-light.svg') no-repeat;
    background-position: center;
    height: 35px;
}