table {
    border-color: #c7c7c7;
}
table thead td {
    padding: 0.5rem 0;
}
table td {
    padding: 0;    
    width: 3rem;
}
table td label {
    padding-top: 1.75rem;
}
table .btn {
    min-width: 3rem !important;
    height: 2.5rem;
    border-radius: 0;
    border: 0;
    background-color: #deecfb;
}
table .btn.active {
    background-color: #bedaf7;
    box-shadow: var(--bs-btn-active-shadow);
}
table .btn:hover {
    background-color: #bedaf7; 
}
table .form-control {
    width: 100%;
    height: 2.5rem;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #c7c7c7 !important;
}
table .form-control.active {
    //background-color: #e5f3fb;
    border: 3px solid #2a9df4 !important;
}
table .error {
    background-color: #ffdcda;
}
