input[type=text], input[type=number],input[type=text], input[type=date]
    input[type=checkbox]input[type=email]  {
        border: .25px solid #004da3;
    }
select{
    border: .25px solid #004da3;
}
tr.no-hover:hover {
  background-color: #FFFFFF !important;
}

a.disabled {
    pointer-events: none;
    cursor: not-allowed; 
 }