<div class="container">
 
    <div class="row mt-2">

      <div class="col-md-12" *ngIf="isAdmin">
        <!-- Button trigger lg modal -->
        <button class="btn btn-primary me-1" (click)="openAssignModal(lgModal)">Assign Template</button>
       
      </div>
      <div class="row mt-5">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Assigned Templates</h4>
            <div class="table-responsive">
              <!-- <table class="table table-striped mt-0">
                <thead>
                  <tr>
                    <th># </th>
                    <th>QP Template</th>
                    <th>Course Code</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>QP Template</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="6" class="text-center">No data to display</td>
                  </tr>
                </tbody>
              </table> -->
              <!-- Search Input -->
              <mat-form-field appearance="outline">
                <mat-label>Search User</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search">
              </mat-form-field>

              <!-- Table -->
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- Name Column -->
                <ng-container matColumnDef="qpTemplateName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Name</th>
                  <td mat-cell *matCellDef="let element"> {{ element.qpTemplateName }} </td>
                </ng-container>

                <ng-container matColumnDef="documentName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Syllabus Document </th>
                  <td mat-cell *matCellDef="let element"><a mat-button href={{element.userDocuments[0].documentUrl}} target="_blank">{{ element.userDocuments[0].documentName }} </a>   </td>
                </ng-container>

                <ng-container matColumnDef="qpeneration">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> QP Generation </th>
                  <td mat-cell *matCellDef="let element"><a mat-button href={{element.userDocuments[1].documentUrl}} target="_blank">{{ element.userDocuments[1].documentName }} </a>   </td>
                </ng-container>

                <ng-container matColumnDef="expert-1">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Expert - 1 </th>
                  <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <!-- Mobile Number Column -->
                <ng-container matColumnDef="status-1">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element"> {{ element.qpTemplateStatusTypeName }} </td>
                </ng-container>

                <ng-container matColumnDef="expert-2">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Expert - 2 </th>
                  <td mat-cell *matCellDef="let element">{{ element.qpTemplateStatusTypeName }} </td>
                </ng-container>
                <ng-container matColumnDef="status-2">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element"> {{ element.qpTemplateStatusTypeName }} </td>
                </ng-container>
                <ng-container matColumnDef="qpTemplateStatusTypeName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element"> {{ element.qpTemplateStatusTypeName }} </td>
                </ng-container>

            <!-- Table Header & Row Definitions --> 
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
          </table>
        
            <!-- Pagination -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            
          </div>
        </div>
      </div>
      </div>
    </div>
  
</div>


<!-- Lg Modal -->
<ng-template #lgModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Assign Template</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="templateAssignmentForm">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="template"
              class="form-label">Course</label>
            <select class="form-select" formControlName="courseId" id="course" (change)="onCourseChange($event)">
              <option selected disabled>Select Course</option>
              <option *ngFor="let course of courses" [value]="course.courseId" selected="">
                {{course.code}} - {{ course.name }}
              </option>
            </select>
            
          </div>
        </div><!-- Col -->
            
      
      </div><!-- Row -->
      
      <div class="row">
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="degreeTypeName"
              class="form-label">Degree Type</label>
              <input type="text" class="form-control" formControlName="degreeTypeName">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="regulationYear"
              class="form-label">Requlation Year</label>
              <input type="text" class="form-control" formControlName = "regulationYear" placeholder="Enter Regulation Year">
               
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="batchYear" class="form-label">Batch Year
            </label>
            <input type="text" class="form-control" formControlName = "batchYear" placeholder="Enter Batch Year">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      
      <div class="row">
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="examYear"
              class="form-label">Exam Year</label>
              <input type="text" class="form-control" formControlName = "examYear"/>
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="examMonth"
              class="form-label">Exam Month</label>
              <input type="text" class="form-control" formControlName = "examMonth"  placeholder="Enter Exam Month">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="examType" class="form-label">Exam Type
            </label>
            <input type="text" class="form-control" formControlName = "examType" placeholder="">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->

      <div class="row">
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="semester"
              class="form-label">Semester</label>
              <input type="text" class="form-control" formControlName = "semester"/>
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="studentCount"
              class="form-label">Students Count</label>
              <input type="text" class="form-control" formControlName = "studentCount">
          </div>
        </div><!-- Col -->          
      </div><!-- Row -->
      <div *ngIf="qpTemplateData" >
        <div class="row" *ngFor="let qpDocument of qpTemplateData.qpDocuments">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="template"
                class="form-label">Template Name: {{qpDocument.qpDocumentName}}</label>
            </div>
          </div><!-- Col -->
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-4">
                <label for="qpTemplateName"
                  class="form-label">Expert - 1</label>
                  <select class="form-select" id="expert1" formControlName="expert1">
                    <option selected disabled>Select Expert</option>
                    <option *ngFor="let user of users" [value]="user.userId" [disabled]="templateAssignmentForm.controls['expert2'].value == user.userId">
                      {{ user.name }}
                    </option>
                  </select>
              </div>
            </div><!-- Col -->
            <div class="col-sm-6">
              <div class="mb-4">
                <label for="qpTemplateName"
                  class="form-label">Expert - 2</label>
                  <select class="form-select" id="expert2" formControlName="expert2">
                    <option selected disabled>Select Expert</option>
                    <option *ngFor="let user of users" [value]="user.userId" [disabled]="templateAssignmentForm.controls['expert1'].value == user.userId">
                      {{ user.name }}
                    </option>
                  </select>
              </div>
            </div><!-- Col -->
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
  </div>
</ng-template>