<div class="container">
      <div class="row col-8">
        <div class="col-md-3" *ngIf="isAdmin">
          <button class="btn btn-primary " (click)="openAssignModal(lgModal)">Assign Template</button>
        </div>
        <div class="institute" *ngIf="isAdmin">
          <div class="col-md-2 mt-2 px-3" >
            <label>Institution <span class="text-danger">*</span></label>
          </div>
          <div class="col-md-3" >
            <select id="institutionId" class="form-select" (change)="onInstituteChange($event)">
              <option [value]="">Select Institution</option>
              <option *ngFor="let inst of institutes" [value]="inst.institutionId">{{ inst.name }}</option>
            </select>
          </div>
        </div>
      </div>
    <div class="row mt-2">
    <!-- <div class="col-md-8" *ngIf="isAdmin">
      <button class="btn btn-primary me-1" (click)="openAssignModal(lgModal)">Assign Template</button>
    </div> -->

      <!-- <div class="col-md-2" *ngIf="isAdmin">

        <button class="btn btn-primary me-1" (click)="openAssignModal(lgModal)">Assign Template</button>
      </div> -->

      <!-- <div class="col-md-2 ">
        <label>Institution <span class="text-danger">*</span></label>
        <select formControlName="institutionId" class="form-select" >
          <option *ngFor="let inst of institutes" [value]="inst.institutionId">{{ inst.name }}</option>
        </select>
      </div> -->
      <div class="row mt-5">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Assigned Templates</h4>
            <div class="table-responsive">
              <!-- <table class="table table-striped mt-0">
                <thead>
                  <tr>
                    <th># </th>
                    <th>QP Template</th>
                    <th>Course Code</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>QP Template</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="6" class="text-center">No data to display</td>
                  </tr>
                </tbody>
              </table> -->
              <!-- Search Input -->
              <mat-form-field appearance="outline">
                <mat-label>Search User</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search">
              </mat-form-field>

              <!-- Table -->
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- Name Column -->
                <ng-container matColumnDef="qpTemplateName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Name</th>
                  <td mat-cell *matCellDef="let element"> {{ element.qpTemplateName }} </td>
                </ng-container>

               <ng-container matColumnDef="courseCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Code </th>
                  <td mat-cell *matCellDef="let element">{{ element.courseCode}} </td>
                </ng-container>

                <ng-container matColumnDef="courseName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Name </th>
                  <td mat-cell *matCellDef="let element">{{ element.courseName }} </td>
                </ng-container>

                <ng-container matColumnDef="qpTemplateStatusTypeName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Status </th>
                  <td mat-cell *matCellDef="let element">{{ element.qpTemplateStatusTypeName }}  </td>
                </ng-container>

                <!-- Mobile Number Column -->
                <ng-container matColumnDef="expert1Name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Expert -1 Name </th>
                  <td mat-cell *matCellDef="let element"> {{ element.expert1Name }} </td>
                </ng-container>

                <ng-container matColumnDef="expert1Status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Expert - 1 Status</th>
                  <td mat-cell *matCellDef="let element">{{ element.expert1Status }} </td>
                </ng-container>



                  <ng-container matColumnDef="expert2Name" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expert -2 Name </th>
                    <td mat-cell *matCellDef="let element"> {{ element.expert2Name }} </td>
                  </ng-container>
                  <ng-container matColumnDef="expert2Status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expert - 2 Status </th>
                    <td mat-cell *matCellDef="let element"> {{ element.expert2Status }} </td>
                  </ng-container>

                <ng-container matColumnDef="actions" >
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  @if(isAdmin)
                  {
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="primary" (click)="editAssignment(lgModal,element.qpTemplateId)" *ngIf="isAdmin">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </td>
                  }
                  @else{
                    <td mat-cell *matCellDef="let element">
                      <a href="{{element.qpDocumentUrl}}">
                        <mat-icon>download</mat-icon>
                      </a>
                      <a (click)="openDocUploadModal(lgDocModal)">
                        <mat-icon>upload</mat-icon>
                      </a>

                      <!-- <button mat-icon-button color="primary" >
                        <mat-icon>download</mat-icon>
                      </button><button mat-icon-button color="primary" >
                        <mat-icon>upload</mat-icon>
                      </button> -->
                    </td>
                  }

                </ng-container>

            <!-- Table Header & Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

            <!-- Pagination -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>

<!-- Lg Modal -->
<!-- Lg Modal -->
<ng-template #lgModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Assign Template</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="templateAssignmentForm">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="template"
              class="form-label">Course</label>
            <select class="form-select" #course formControlName="courseId" id="course" (change)="onCourseChange($event)">
              <option selected disabled>Select Course</option>
              <option *ngFor="let course of courses" [value]="course.courseId" >
                {{course.code}} - {{ course.name }}
              </option>
            </select>

          </div>
        </div><!-- Col -->


      </div><!-- Row -->

      <div class="row">
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="degreeTypeName"
              class="form-label">Degree Type</label>
              <input type="text" class="form-control" formControlName="degreeTypeName">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="regulationYear"
              class="form-label">Requlation Year</label>
              <input type="text" class="form-control" formControlName = "regulationYear" placeholder="Enter Regulation Year">

          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="batchYear" class="form-label">Batch Year
            </label>
            <input type="text" class="form-control" formControlName = "batchYear" placeholder="Enter Batch Year">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->

      <div class="row">
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="examYear"
              class="form-label">Exam Year</label>
              <input type="text" class="form-control" formControlName = "examYear"/>
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="examMonth"
              class="form-label">Exam Month</label>
              <input type="text" class="form-control" formControlName = "examMonth"  placeholder="Enter Exam Month">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="examType" class="form-label">Exam Type
            </label>
            <input type="text" class="form-control" formControlName = "examType" placeholder="">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->

      <div class="row">
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="semester"
              class="form-label">Semester</label>
              <input type="text" class="form-control" formControlName = "semester"/>
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="mb-3">
            <label for="studentCount"
              class="form-label">Students Count</label>
              <input type="text" class="form-control" formControlName = "studentCount">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4" *ngIf="isCourseSyllabusDocuploaded">
          <div class="mb-3">
            <label for="courseSyllabusDocumentName"
              class="form-label">Syllabus Document</label><br/>
            <a href="{{templateAssignmentForm.controls['courseSyllabusDocumentUrl'].value}}">{{templateAssignmentForm.controls['courseSyllabusDocumentName'].value}}</a>

          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div *ngIf="qpTemplateData" >

        <div formArrayName="qpDocuments">
          <div class="row" *ngFor="let qpDocument of qpTemplateData.qpDocuments; let docIndex = index" [formGroupName]="docIndex">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">Template Name: {{ qpDocument.qpDocumentName }}</label>
              </div>
            </div>

            <!-- Loop through assigned users -->
            <div formArrayName="qpAssignedUsers">
              <div class="row" *ngFor="let assignedUser of qpDocument.qpAssignedUsers; let userIndex = index" [formGroupName]="userIndex">
                <!-- Expert Selection -->
                <div class="col-sm-6">
                  <div class="mb-4">
                    <label class="form-label">Expert - {{ userIndex + 1 }}</label>
                    <select class="form-select" formControlName="userId"
                            (change)="updateUserDetails(docIndex, userIndex,$event)" >
                      <option value="">Select Expert</option>
                      <option *ngFor="let user of users" [value]="user.userId"
                              [disabled]="isUserAlreadySelected(qpDocument.qpAssignedUsers, user.userId, userIndex)">
                        {{ user.userName }}
                      </option>
                    </select>
                  </div>
                </div>

                <!-- Is QP Only Checkbox -->
                <div class="col-sm-4 d-flex align-items-center">
                  <mat-checkbox class="checkbox" formControlName="isQPOnly" (change)="updateIsQPOnly(docIndex, userIndex, $event.checked)">
                    Is only for QP?
                  </mat-checkbox>
                </div>
                <div class="col-sm-2 d-flex align-items-center">
                  <button class="btn btn-sm btn-outline-danger" (click)="clearSelection(docIndex, userIndex)">
                    Clear
                  </button>
                </div>
                <!-- add scrutiny -->
            <div >
              <div class="row" *ngFor="let assignedScrutinyUser of qpDocument.qpScrutinityUsers; let userIndex = index" [formGroupName]="userIndex">

                <!--<div class="row" *ngIf="isQPPendingForScrutiny" >   Expert Selection -->
                <div class="col-sm-6">
                  <div class="mb-4">
                    <label class="form-label">Scrutiny </label>
                    <select class="form-select" formControlName="scrutinyUserId" (change)="updateScrutinyUserDetails(docIndex, userIndex,$event)" >
                      <option value="">Select Scrutiny </option>
                      <option *ngFor="let user of users" [value]="user.userId">
                        {{ user.userName }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>

    <button type="button" class="btn btn-primary"  (click)="onSave()" [disabled]="!isCourseSyllabusDocuploaded">Save changes</button>
  </div>
</ng-template>

<!--Upload QP Document-->
<ng-template #lgDocModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Upload Document</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="qpDocDataForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="filename">Upload QP / QP Answer Key document <span class="text-danger"> *</span> </label>
            <input class="form-control " multiple value="qpDocumentsformf['file']" type="file" id="masterfile" formControlName="file" (change)="onQPDocDataFileChange($event)">
          </div>
          </div><!-- Col -->
      </div><!-- Row -->

      <div class="row" *ngIf="isInvalidDoc">
        <div class="col-sm-8">
          <div class="mb-3">
            <table>
              <thead></thead>
            </table>
          </div>
          </div><!-- Col -->
      </div><!-- Row -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    <div >
      <button type="button" class="btn btn-primary" *ngIf="!isQPDocValidated" [disabled]="!isQPDocUploaded" (click)="validate()">Validate</button>
    </div>

    <button type="button" class="btn btn-primary" *ngIf="isQPDocValidated">Submit</button>
  </div>
</ng-template>

