<div class="container">
 
    <div class="row mt-2">
      <div class="col-md-12">
        <!-- Button trigger lg modal -->
        <button class="btn btn-primary me-1" (click)="openAssignModal(lgModal)">Assign Template</button>
       
      </div>
      <div class="row mt-5">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Assigned Templates</h4>
            <div class="table-responsive">
              <table class="table table-striped mt-0">
                <thead>
                  <tr>
                    <th># </th>
                    <th>QP Template</th>
                    <th>Course Code</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>QP Template</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="6" class="text-center">No data to display</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
      </div>
    </div>
  
</div>


<!-- Lg Modal -->
<ng-template #lgModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Assign Template</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="templateAssignmentForm">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="template"
              class="form-label">Template</label>
            <select class="form-select" id="template" formControlName="templateId" >
              <option selected disabled>Select Template</option>
              <option *ngFor="let template of templates" [value]="template.qpTemplateId">
                {{ template.courseCode }} - {{ template.qpTemplateName }}
              </option>
            </select>
            
          </div>
        </div><!-- Col -->
        <div class="col-sm-6">
          <div class="mb-4">
            <label for="qpTemplateName"
              class="form-label">Experts</label>
              <select class="form-select" id="expert" formControlName="userId">
                <option selected disabled>Select Expert</option>
                <option *ngFor="let user of users" [value]="user.userId">
                  {{ user.name }}
                </option>
              </select>
          </div>
        </div><!-- Col -->
      
      </div><!-- Row -->

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
  </div>
</ng-template>